@model IEnumerable<AMA_cosmetics.Models.Korpa>

@{
    ViewData["Title"] = "Korpa";
}
<style>

    h1 {
      color: #F8BBD0; /* Bledo roze boja */
    }
  </style>

<h1>Korpa</h1>
@{
    var currentUserItems = Model.Where(item => item.UserName == User.Identity.Name);
    var itemCount = currentUserItems.Count();
}
@if(itemCount==0){
    <h4>Nema proizvoda u korpi</h4>
}else{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proizvod.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvod.Kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvod.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvod.SlikaPutanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (item.UserName == User.Identity.Name)
            { 
            <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvod.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
                    <td>
                        <img src="@item.Proizvod.SlikaPutanja" alt="@item.Proizvod.Naziv" style="width: 200px; height: 150px;" />
                    </td>
            <td> 
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <nobr>|</nobr>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            <nobr>|</nobr>
                        }
                        
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-regular fa-trash-can fa-beat-fade" style="color: #a93d81;"></i></a>
            </td>
        </tr>
                
        }

}
    </tbody>
</table>
/*
    <div>
     Ostali HTML kod 

    <a href="@Url.Action("Create", "Narudzba")" class="btn btn-primary">Napravi narudžbu</a>
</div>
*/

<style>
    .dark-pink-button {
      background-color: #F8BBD0;
      color: #C2185B; /* Tamno roze boja */
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }

    .dark-pink-button:hover {
      background-color: #FFCDD2;
      cursor: pointer;
    }
  </style>

<body>
    @if(User.Identity.IsAuthenticated){
  <a class="dark-pink-button" href="/Narudzba/Create">Napravi narudžbu</a>
    }
</body>
}