@model AMA_cosmetics.Models.Proizvod

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji o proizvodu</h1>

<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raspolozivost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raspolozivost)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        <nobr>|</nobr>

    }
    
    <a asp-action="Index">Back to List</a>
</div>
